@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #179a9a;
    box-shadow: 0px 3px 10px #464646;
}

#nav-bar {
    width: 100%;
    display: flex;
    padding: 0.2rem;

}

.logo {
    display: flex;
    align-items: center;
}

.logo h5{
    color: #fff;
}

a{
    list-style: none;
}
.pai-nav-list{
    margin-left:auto;
    margin-right:auto;
}
#nav-list {
    display: flex;
    justify-content:center;
    /* margin-left:auto !important; */
    /* margin-left:150px; */
    /* align-text:centaer; */
}


#nav-list ul {
    /* display: flex; */
    /* justify-content: center; */
    align-text:center;
    list-style: none;
}

.nav-item {
    /* display: inline; */
    margin: 0 20px;
    /* align-items: center; */
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

#menu{
    display:flex;
    list-style:none;
    padding-top:10px;
}

#btn-mobile{
    display:none; 
    border:none;
    background:transparent;
    padding:2px;
    line-height:1px;
    color:white;
    font-size:20px;
}
.botaombl{
    float:left !important;

}
/* responsividade */

@media screen and (max-width: 1116px) {
   
    .nav-item {
        margin: 0 30px;
        align-items: center;
    }

    #nav-bar {
        width: 100%;
        display: flex;


    }

@media screen and (max-width: 1013px) {
    .nav-item {
        margin: 0 20px;
        align-items: center;
    }

    #nav-bar {
        width: 100%;
        display: flex;


    }

@media screen and (max-width: 919px) {
    .nav-item {
        margin: 0 15px;
        align-items: center;
    }

    .nav-link{
        font-size: 16px;
    }

    #nav-bar {
        width: 100%;
        display: flex;
    
    }
    /* menu mobile */
    @media screen and (max-width: 819px) {
        #btn-mobile{
            display:block;
        }
    
        #menu{
            display:none;
        }

        #nav-bar.active #menu{
            display:block;
        }
        
        .nav-item {
            margin: 0 10px;
            align-items: center;
        }
    
        .nav-link{
            font-size: 14px;
        }
    
        #nav-bar {
            width: 100%;
            display: flex;
            /* */

        }
}
