.product-card {
    height: 300px;
    flex: 1 0 21%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin: 5px;
}

#background{
	background:color(black);
}

.animate-shadow {
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 12px;
}

.animate-shadow-blue:hover {
    box-shadow: rgba(0, 0, 255, 0.3) 0 5px 15px;
}

.animate-shadow-white:hover {
    box-shadow: rgb(255, 255, 255) 0 5px 15px;
}

.product-image {
    height: 190px;
    width: 190px;
}

.product-title {
    font-size: 16px;
    max-width: 100%;
    color: white;
    font-weight: 15px;
    margin: 10px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.product-price {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: white;
}

.side-banner {
    background: url("images/banner_img.jpg") no-repeat center;
    background-size: contain;
    min-width: 160px;
}

#produto-1 {
    background: url("images/produto-1.jfif") no-repeat center black;
}

#produto-2 {
    background: url("images/produto-2.jfif") no-repeat center black;
}

#produto-3 {
    background: url("images/produto-3.jfif") no-repeat center black;
}

#produto-4 {
    background: url("images/produto-4.jfif") no-repeat center black;
}

#produto-5 {
    background: url("images/produto-5.jfif") no-repeat center black;
}

#produto-6 {
    background: url("images/produto-6.jfif") no-repeat center black;
}

#produto-7 {
    background: url("images/produto-7.jfif") no-repeat center black;
}

#produto-8 {
    background: url("images/produto-8.jfif") no-repeat center black;
}

.cursor-pointer {
    cursor: pointer;
}

.form-inputs {
    position: relative
}

.form-inputs .form-control {
    height: 45px
}

.form-inputs .form-control:focus {
    box-shadow: none;
    border: 1px solid #FFF
}

.form-inputs i {
    position: absolute;
    right: 10px;
    top: 15px
}

.shop-bag {
    background-color: #FFF;
    color: #fff;
    height: 50px;
    width: 50px;
    font-size: 25px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center
}

.qty {
    font-size: 12px
}

.w-100px {
    width: 100px;
}

.w-200px {
    width: 200px;
}

.fs-60 {
    font-size: 60px;
}

.fs-30 {
    font-size: 30px;
}

.font-12 {
    font-size: 12px;
}
#rodape {
	width: 100%;
    height: auto;
    background-color:#013030;
    font-family: arial;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-top: 1%;
    margin-top: 4%;
}
.rodape-2 {
	width: auto;
    height: auto;
    background-color:#013030;
    font-family: arial;
    font-size: 13px;
    color: white;
    text-align: center;
    padding-top: 1%;
    margin-top: 4%;
}
#acessibilidade{
    width: AUTO;
    height: AUTO;
    background-color: #A8A8A8;
}
#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 1em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
#atalhos li{
    display: inline;
}
#pgacess{
    padding-left: 30%;
}
.contraste{
    padding-left: 1%;
}
.fonte{
    padding-left: 1%;
}
@media(max-width:1317px){
    #pgacess{
        padding-left: 26%;
        display:flex;
    }
}
@media(max-width:1240px){
    #pgacess{
        padding-left: 22%;
        display:flex;
    }
}
@media(max-width:1206px){
    #pgacess{
        padding-left: 21.5%;
        display:flex;
    }
}

@media(max-width:1190px){
    #pgacess{
        padding-left: 21%;
        display:flex;
    }
}

@media(max-width:1170px){
    #pgacess{
        padding-left: 20%;
        display:flex;
    }
}
@media(max-width:1159px){
    #pgacess{
        padding-left: 19%;
        display:flex;
    }
}
@media(max-width:1142px){
    #pgacess{
        padding-left: 18%;
        display:flex;
    }
}

@media(max-width:1128px){
    #pgacess{
        padding-left: 15%;
        display:flex;
    }
}
@media(max-width:1073px){
    #pgacess{
        padding-left: 10%;
        display:flex;
    }
}
@media(max-width:1011px){
    #pgacess{
        padding-left: 5%;
    }
}
@media(max-width:955px){
    #pgacess{
        padding-left: 1%;
    }
}
@media(max-width:925px){
    #pgacess{
        padding-left: 10%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.90em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
}
@media(max-width:925px){
    #pgacess{
        padding-left: 4%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.90em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
}
@media(max-width:850px){
    #pgacess{
        padding-left: 18%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.75em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
}
@media(max-width:835px){
    #pgacess{
        padding-left: 8%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.80em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
}
@media(max-width:780px){
    #pgacess{
        padding-left: 18%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.70em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
}
@media(max-width:765px){
    #pgacess{
        padding-left: 1%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 1em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
#atalhos li{
        display: none;
    }
    #atalhos li#pgacess{
        display: inline-flex;
        padding-left: 2%;
    }
    #atalhos li.contraste{
        display: inline-flex;
    }
    #atalhos li.fonte{
        display: inline-flex;
    }
}
@media(max-width:610px){
    #pgacess{
        padding-left: 1%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.85em;
   	padding-left: 1%;
   	margin-bottom:0%;
}
@media(max-width:392px){
    #pgacess{
        padding-left: 1%;
    }
  	#atalhos{
    list-style: none;
    font: Verdana;
    font-size: 0.75em;
   	padding-left: 1%;
   	margin-bottom:0%;
}  
}
}